<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新規会員登録確認</title>
    <link rel="stylesheet" type="text/css" href="/baseball/css/Customer.css">
</head>
<body>
    <div class="container">
        <h1>新規会員登録確認</h1>
        <form id="registrationForm" th:action="@{/ProvisionalSignup}" method="post">
            <p class="form-comment">以下の内容で登録してよろしいですか？</p>
            <div class="form-inline">
                <hr class="inline">
                <div class="form-cfm">
                    <p class="signup-label"><label for="name" class="form-element"> 　氏　　名　　</label></p>
                    <!-- サーバーサイドで受け取った値を表示 -->
                    <span class="form-input" th:text="${name}"></span>
                </div>
                <hr class="inline">
                <div class="form-cfm">
                    <p class="signup-label"><label for="mail" class="form-element">メールアドレス</label></p>
                    <!-- サーバーサイドで受け取った値を表示 -->
                    <span class="form-input" th:text="${mail}"></span>
                </div>
                <hr class="inline">
                <div class="form-cfm">
                    <p class="signup-label"><label for="tel" class="form-element">電　話　番　号</label></p>
                    <!-- サーバーサイドで受け取った値を表示 -->
                    <span class="form-input" th:text="${tel}"></span>
                </div>
                <hr class="inline">
            </div>

            <div class="infor-change">
                <input type="hidden" name="mail" th:value="${mail}">
                <input type="hidden" name="name" th:value="${name}">
                <input type="hidden" name="password" th:value="${password}">
                <input type="hidden" name="tel" th:value="${tel}">
                <input type="button" value="戻る" onclick="history.back();" class="infor-change-btn">
                <input type="submit" value="登録" class="infor-change-btn">
            </div>
        </form>
    </div>
</body>
</html>